
<div class="video-list">


    <!-- CONTENEOR DE VIDEO -->
    <div *ngFor="let video of videos" class="video-container mt-md">
        <div class="video-image">
            Video image
        </div>
        <div class="video-info p-md">
            <div class="title-star flex-sb w-100">
                <div>
                    <h2>{{ video.title }}</h2>
                </div>
                <div class="flex star" (click)="toggleStar(video)">
                    <i [ngClass]="video.isStarred ? 'fa-solid fa-star' : 'fa-regular fa-star'"></i>
                </div>
            </div>
            <div>
                <p>{{ video.views }} - {{ video.uploadDate }}</p> 
            </div>
    
            <div class="flex">
                <div>
                    ciruclo canal 
                </div>
                <p> - {{ video.channelName }}</p> 
            </div>
    
            <div class="pt-md">
                <p>{{ video.description }}</p>
            </div>
        </div>
    </div>
    <!-- FIN DEL CONTENEDOR -->


</div>
