

.video-list{
    display: flex;
    flex-direction: column;
    
}

.video-container{
    display:flex;
    width: 100%;
    height: 18rem;
  
    color: var(--text-light);
}

.video-image{
    width: 35%;
    background-color: burlywood;
}

.video-info{
    flex: 1;
    background-color: rgb(35, 35, 35);

}

.star{
    cursor: pointer;
}

img{
    width: 33%;
}