
<div class="video-list">


    <!-- CONTENEOR DE VIDEO -->
    <div class="video-container">
        <div class="video-image">
            Video image
        </div>
        <div class="video-info p-md">
            <div >
                <h2>Titulo del video</h2>
            </div>
            <div>
               <p>Visualizaciones - Fecha subida</p> 
            </div>

            <div class="flex">
                <div>
                    ciruclo canal 
                </div>
                <p> - Nombre canal</p> 
            </div>

            <div class="pt-md">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, omnis?</p>
            </div>

        </div>
    </div>

     <!-- CONTENEOR DE VIDEO -->
     <div class="video-container pt-md">
        <div class="video-image">
            Video image
        </div>
        <div class="video-info p-md">
            <div >
                <h2>Titulo del video</h2>
            </div>
            <div>
               <p>Visualizaciones - Fecha subida</p> 
            </div>

            <div class="flex">
                <div>
                    ciruclo canal 
                </div>
                <p> - Nombre canal</p> 
            </div>

            <div class="pt-md">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, omnis?</p>
            </div>

        </div>
    </div>

</div>
