<div class="navbar w-100">
    <div class="navbar-options flex-sb">
           <div class="logo-searchbar" >


                <div class="logo" routerLink="Home">
                    <h2>Innova <span class="tube">Tube</span></h2>
                </div>
            
                

                <div class="searchbar">
                    <i class="fa-solid fa-magnifying-glass" routerLink="Search"></i>
                    <input [(ngModel)]="searchQuery" placeholder="Enter search terms" (keydown.enter)="onSearch()">
                </div>

           </div>


           <div class="navbar-side-options flex-sa">
                <div *ngIf="isLoggedIn" style="font-size: 20px;">
                    Username | <span class="logout" (click)="logout()">Logout</span>
                </div>
                <div *ngIf="!isLoggedIn" style="font-size: 20px;">
                    <span class="logout"  routerLink="Login">Log in</span> | <span class="logout"  routerLink="Register">Sign in</span>
                </div>
                <div>
                    <i class="fa-solid fa-gear" routerLink="Register"></i>
                </div>
                <div>
                    <i class="fa-solid fa-star" routerLink="Favorite"></i>
                </div>
           </div>
    </div>
</div>

