<div class="navbar w-100">
    <div class="navbar-options flex-sb">
           <div class="logo-searchbar" >


                <div class="logo" routerLink="Home">
                    <h2>Innova <span class="tube">Tube</span></h2>
                </div>
            
                

                <div class="searchbar">
                    <i class="fa-solid fa-magnifying-glass" routerLink="Search"></i>
                    <input [(ngModel)]="searchQuery" placeholder="Enter search terms" (keydown.enter)="onSearch()">
                </div>

           </div>


           <div class="navbar-side-options flex-sa">
                
                <div>
                    <i class="fa-solid fa-right-to-bracket" routerLink="Login"></i>
                </div>
                <div>
                    <i class="fa-solid fa-gear" routerLink="Favorite"></i>
                </div>
                <div>
                    <i class="fa-solid fa-star" routerLink="Register"></i>
                </div>
           </div>
    </div>
</div>

