.navbar{
    background-color: var(--primary);
    padding: 15px;
}


.navbar-options{
    margin: 0 2%;
   

   
}



.logo:hover{
    cursor: pointer;
    transform: scale(1.05);
}


.tube{
    padding: 10px;
    color: var(--text-light);
    background-color: #FF7517;
    border-radius: 5px;
    padding: 5px;
}


.navbar-side-options{
    color:var(--text-light);
    width: 15%;
    font-size: 25px;


}

.navbar-side-options i:hover{
    transition: all ease 0.3s;
}

.navbar-side-options i:hover{
    color:var(--title);
    cursor: pointer;
}


.logo-searchbar{
    display: flex;
    flex: 1;
    color: var(--text-light);
   
}

.logo{
    transition: all ease 0.3s;

}

.searchbar{
    flex: 1;
    margin-left: 3rem;

}

.searchbar i{
    transition: all ease 0.3s;
}


.searchbar i:hover{
    color:var(--title);
    cursor: pointer;
}

.searchbar input{
    width: 70%;
    margin-left: 10px;
    height: 100%;
    border: rgb(32, 32, 32);
    background-color: rgb(72, 72, 72);
    color: var(--text-light);
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.searchbar input:focus{
    outline: none;
}

.logout:hover{
    color: #FF7517;
    cursor: pointer;
}