
<div class="carrousel-margin">
  <div class="owl-carousel owl-theme">


    <!-- Video card -->
    <div class="video-card">
      <div class="video-display">

      </div>
      <div class="flex video-info">
        <div class="channel-icon">
          
        </div>

        <div class="video-title">
          <p><strong>Titulo del video</strong></p>
          <p>Canal del video</p>
        </div>
         
      </div>
    </div>

    
    <!-- Video card -->
    <div class="video-card">
      <div class="video-display">

      </div>
      <div class="flex video-info">
        <div class="channel-icon">
          
        </div>

        <div class="video-title">
          <p><strong>Titulo del video</strong></p>
          <p>Canal del video</p>
        </div>
         
      </div>
    </div>



   
  </div>

</div>



  