.carrousel-margin{
    margin:5px;
}

.video-card{
    background-color: rgb(84, 84, 84);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.video-display{
    box-sizing: border-box;
    margin: 5px 5px;
    height: 15rem;
    
    background-color: azure;
}


.channel-icon{
    background-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: url('../../../assets/img/user_default.jpg');
    background-size: cover;
    
}

.video-title{
    flex:1;
    margin-left: 10px;
}

.video-info{
    font-family: "Roboto", sans-serif;
    color: var(--primary-light);
   display: flex;
    padding: 5px;
    min-height: 4rem;
}



